body{
  background-color: rgb(197, 197, 197);
  color: whitesmoke
}
.landing-text {
  /* font-size: x-large; */
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

h1{
  font-size: 64pt;
}
